.neonrain {
  position: fixed; /* фиксируем на весь экран */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1501594907352-04cda38ebc29?auto=format&fit=crop&w=1950&q=80")
    no-repeat center center / cover;
  z-index: -1; /* отправляем за всё остальное */
  opacity: 0.15;
}