.trendings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 25px; /* чтобы было симметрично относительно Latest News */
  //max-width: 300px;
}

.trendings-title {
  font-size: 2rem;
  color: #a8ffef;
  font-family: 'Cyber', sans-serif;
  margin-bottom: 10px;
}

.trending-card {
  font-size: 16px;
  font-family: 'Cyber', sans-serif;
  color: #a8ffef;
  text-decoration: none;
  padding: 40px;
  border: 1px solid #e241ff; /* тот же цвет что у read-more */
  border-radius: 3px;
  box-shadow: 0 0 1px #ff00ff, 0 0 2px #00ffff, 0 0 4px #ff00ff;
  backdrop-filter: blur(15px); /* блюр меньше чем у read-more */
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
 
}

.trending-card:hover {
  transform: translateY(-2px);
 box-shadow: 0 0 2px #ff00ff, 0 0 4px #00ffff, 0 0 8px #ff00ff;

}
